body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#057a7a;
    font-family:Arial, Helvetica, sans-serif;
}

.calculator{
    background:#bba0a0;
    padding: 70px;
    border:radius;
    width:260px;
}

#display{
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: right;
    padding: 5px 10px;
    border: #000000;
    border-radius:5px;
}

.buttons{
    height: 50px;
    font-size: 18px;
    border: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    opacity: 1.5;
}

.operator{
    background: #10bbe6;
    color: white;
}

.equal{
    background: #10bbe6;
    color: white;
}

.clear{
    background: #10bbe6;
    color: white;
}